.platzierung {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  color: white;
}

.left-column,
.right-column {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.left-column ul,
.right-column ol {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.left-column li,
.right-column li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-place {
  font-weight: bold;
  color: gold; /* Optional für eine goldene Farbe */
}

.second-place {
  font-weight: bold;
  color: silver; /* Optional für eine silberne Farbe */
}

.third-place {
  font-weight: bold;
  color: #cd7f32; /* Optional für eine bronze Farbe */
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
