<h2>Ergebnis für {{ data.player.name }} eingeben</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-label>Punkte</mat-label>
    <input matInput type="number" formControlName="points">
  </mat-form-field>

  <div class="button-container">
    <button mat-button (click)="dialogRef.close()">Abbrechen</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Speichern</button>
  </div>
</form>